<p id="notice"><%= notice %></p>

<p>
  <%= image_tag url_for(@image_file.image) %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @image_file.owner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image_file.description %>
</p>

<p>
  <strong>Uploaded date:</strong>
  <%= @image_file.created_at.strftime('%d/%m/%Y %H:%M %Z') %>
</p>

<hr>

<strong>Metadata</strong>

<p>
  <strong>Filename:</strong>
  <%= @image_file.image.blob.filename %>
</p>

<p>
  <strong>Content-Type:</strong>
  <%= @image_file.image.blob.content_type %>
</p>

<p>
  <strong>Checksum:</strong>
  <%= @image_file.image.blob.checksum %>
</p>

<%= link_to 'Edit', edit_image_file_path(@image_file) %> |
<%= link_to 'Back', image_files_path %>
